<footer class="ftr" role="contentinfo">
	<div class="wrapper">
	    <a class="ftr-logo-mod" href="/"><h3 class="ftr-logo-icon">Upstatement</h3></a>

	    <p class="ftr-msg">
	        <span class="br"><a href="/about">Learn more</a> about who we are and <a href="/portfolio">what we do</a> </span>
	        <span>or <a href="mailto:info@upstatement.com">send us an email</a> to discuss your project.</span></p>

	    <p class="ftr-info"><a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Upstatement&sll=42.349347,-71.053433&sspn=0.0098,0.021157&ie=UTF8&hq=Upstatement&hnear=&ll=42.349347,-71.053433&spn=0.018808,0.042315&z=15&iwloc=A" target="_blank">319 A Street Boston, MA 02210</a> &bull; 617 329 1316</p>
	    <p class="ftr-info">Upstatement LLC &copy; {{now|date('Y')}}</p>
	</div><!-- wrapper -->
</footer>
<script src="{{theme_dir}}/js/libs/jquery.iosslider.min.js"></script>
<script src="{{theme_dir}}/js/libs/jquery.easing-1.3.js"></script>
<script src="{{theme_dir}}/js/libs/jquery.scrollto.min.js"></script>
<script src="{{theme_dir}}/js/libs/jquery.localscroll.js"></script>

<script src="{{theme_dir}}/js/libs/sh/scripts/shCore.js"></script>

<script src="{{theme_dir}}/js/libs/sh/scripts/shBrushTwig.js"></script>
<script src="{{theme_dir}}/js/libs/sh/scripts/shBrushPhp.js"></script>
<script src="{{theme_dir}}/js/libs/unveil/jquery.unveil.min.js"></script>
<script src="{{theme_dir}}/js/plugins.js"></script>
<script src="{{theme_dir}}/js/blades.js"></script>
