<header class="hdr" role="banner">
    <div class="wrapper">
        <h1 class="hdr-logo">
            <a class="hdr-logo-img" href="/" title="Upstatement" rel="home">Upstatement</a>
        </h1>
        <div class="nav-chrome">
            <a href="#" class="nav-toggle-m"></a>
        </div> <!-- /nav-chrome -->
        <nav id="access" class="hdr-nav" role="navigation">
            <div class="menu-header">
                <ul id="menu-main-nav" class="nav-menu">
                    {% for item in menu.items %}
                    <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
                        <a href="{{item.link}}">{{item.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav><!-- #access -->
        <nav class="menu-test">

        	{% for item in menu_test.items %}
        		<li><a href="{{item.permalink}}">{{item.title}}</a></li>
        			{% if item.get_children|length %}
        			<ul class="children">
        				{% for child in item.get_children %}
        					<li><a href="{{child.link}}">{{child.title}}</a></li>
        				{% endfor %}
        			</ul>
        			{% endif %}
        		</li>
        	{% endfor %}
        </nav>
    </div>
</header>