{% extends "base.twig" %}
{% block content %}
{% if billboards %}
<div class="inset">
	<div class="wrapper">
		{% for billboard in billboards %}
			{% if billboard == billboards[0] %}
			<a class="portfolio-promo portfolio-promo-top" href="{{billboard.permalink}}">
				<div class="portfolio-promo-img">
					<img src="{{billboard.hero_tease.src|default(billboard.billboard.src)|resize(1200) }}" alt="Banner for {{billboard.title|striptags}}" />
				</div> <!-- /portfolio-promo-img -->
				<div class="portfolio-promo-hgroup">
					{% if billboard.kicker %}
						<h3 class="h4 portfolio-promo-kicker">{{billboard.kicker}}</h3>
					{% endif %}
					<h2 class="h1 portfolio-promo-h">{{ billboard.title }}</h2>
					{# <p class="txt">{{ billboard.billboard_message }}</p> #}
				</div>
			</a> <!-- /portfolio-promo -->
			<section id="archive-portfolio-promo" class="portfolio-promo-btm">
			{% else %}
			<div class="media-block">
				<a class="portfolio-promo" href="{{billboard.permalink}}">
					<div class="portfolio-promo-img"><img src="{{billboard.hero_tease.src|default(billboard.billboard.src) | resize(1200, 690)}}" alt="Banner for {{billboard.title|striptags}}" /></div>
					<div class="portfolio-promo-hgroup">
						{% if billboard.kicker %}
						<h3 class="h4 portfolio-promo-kicker">{{billboard.kicker}}</h3>
						{% endif %}
						<h2 class="h2 portfolio-promo-h">{{ billboard.title }}</h2>
						{# <p class="txt">{{ billboard.billboard_message }}</p> #}
					</div>
				</a> <!-- /portfolio-promo -->
			</div> <!-- /media-block -->
			{% endif %}
		{% endfor %}
	</section><!--archive-portfolio-featured -->
	</div><!-- wrapper -->
</div><!-- inset -->
{% endif %}


<div class="wrapper">
	<section id="archive-tiles">
		{% for tile in tiles %}
			{% include 'mods/tile.twig' %}
		{% endfor %}
	</section>
</div>

<section id="archive-clients" class="inset">
	<div class="wrapper">
		<h2 class="section-h">Clients</h2>
		<ul class="archive-clients-list">
			{% for client in clients %}
				<li>
				{% if client.path %}
					<a href="{{client.path}}">{{client.client_name}}</a>
				{% else %}
					<span>{{client.client_name}}</span>
				{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endblock %}
