{% extends "base.twig" %}
{% block content %}

<a class="home-banner" style="display:block" href="/portfolio/">
	<img class="home-banner-img" src="/wp-content/themes/blades/images/homepage/hp-hero-wood-bcom-sox.jpg" alt="Upstatement Banner Image, showing screens from Boston.com, NPR, and Northwestern University">
</a> <!-- /home-banner -->

<div class="hp-topper-intro">
	<div class="portfolio-h-outer">
		<div class="portfolio-h-inner">
			<h1 class="txt-lg hp-intro-txt">We specialize in crafting content-focused websites for clients like <a href="/portfolio/boston-com/">Boston.com</a>, <a href="upstatement.com/portfolio/random-house/"><nobr>Random House</nobr></a>, <a href="/portfolio/about-npr/">NPR</a> and <a href="/portfolio/global-news/">Global News</a>.</h1>
		</div><!-- /portfolio-h-inner -->
	</div><!-- /portfolio-h-outer -->
</div><!-- /hp-topper-intro -->

<section class="hp-themes home-inset">
	<div class="wrapper">
		<header class="hp-themes-header">
			<!-- <h2 class="h3">Here's what's going on at Upstatement</h2> -->
		</header>
		<div class="hp-theme-alt">
			<div class="tiles-mod">
				{% for hl_group in highlights %}
				<div class="tile-row-mod">
					{% for highlight in hl_group %}
					<div class="alt-tile tile-border ui-block-{{loop.index}}">
						<!--<h3 class="h4">{{highlight.kicker}}</h3>-->
						<a href="{{highlight.link}}">
 							<img class="alt-tile-img" src="{{highlight.thumbnail.src}}" alt="{{highlight.title|e}}"/>
 						</a>
						<h2 class="highlight-headline"><a href="{{highlight.link}}">{{highlight.title}}</a></h2>
						<div class="txt-lg txt-dark">{{highlight.content}}</div>
					</div><!-- /alt-tile -->
					{% endfor %}
				</div> <!-- /tile-row-mod -->
				{% endfor %}
			</div> <!-- /tiles-mod -->

		</div> <!-- /hp-theme-alt -->
	</div> <!-- /wrapper -->
</section> <!-- /hp-themes -->

<div class="hp-logo-pond">

	{% include 'home-logo-pond.twig' %}
</div>

<!-- Feeds -->
<div class="hp-feeds wrapper">
	<div class="hp-blog">
		<h3 class="h4"><a href="/blog/">On Our Blog</a></h3>
		<section class="hp-blog-list">
			{% for blog in blogs %}
				<article class="media-block blog blog-small" id="post-{{blog.post_name}}">
					<h3 class="h3"><a href="{{blog.link}}">{{blog.title}}</a></h3>
					<p class="blog-author"><span>By</span> {{blog.author.name}}</p>
					<p class="txt txt-dark">{{blog.get_preview(22, true, 'More &raquo;')}}</p>
				</article>
			{% endfor %}
		</section>
	</div> <!-- /hp-blog -->


	{# include "home-tweets.twig" #}

</div><!-- /hp-feeds -->
{% endblock %}
