{% extends "base.twig" %}
{% block content %}
<div class="cover">
	<div class="cover-slider">
		{% for slide in heros %}
		<div id="slide-{{slide.post.slug}}" class="slide">
			<h3 class="slider-message-hidden"><a href="{{slide.post.permalink}}">{{slide.intro}}</a></h3>
		</div>
		{% endfor %}
	</div>

	<div class="cover-overview">
		<div class="wrapper">
			<h1 class="h1"><span id="cover-msg" class="cover-msg">{{heros[0].intro}}</span></h1>
		</div>
	</div>

	<div class="slidenav">
			<a class="next">&raquo;next</a>
			<a class="prev">&laquo;prev</a>
	</div>

</div><!-- cover -->

<!-- Themes -->
<section class="hp-themes">
	<div class="inset">
		<div class="wrapper">
			{% for promo in promos %}
				<div class="hp-theme promo-{{loop.index}}" id="promo-{{promo.post_name}}">
					<div class="hp-theme-intro ui-block-1">
					<h3 class="h4"><a href="/portfolio/">{{promo.title}}</a></h3>
						<section class="txt-lg">{{promo.content}}</section>
					</div>
					<div class="hp-theme-tiles ui-block-2">
						<article class="hp-theme-tile-grid">
							{% for square in promo.squares %}
							<a class="media-block" href="{{square.permalink}}">
								<img src="{{square.thumbnail.src|resize(200, 200)}}" alt="{{square.title}}"/>
								<h4 class="tile-h4 a11y-only">{{square.title}}</h4>
							</a>
							{% endfor %}
						</article> <!-- /hp-theme-tile-grid -->
					</div>
				</div><!-- hp-theme -->
			{% endfor %}
		</div> <!-- /wrapper -->
	</div> <!-- /inset -->
</section> <!-- /hp-themes -->


<!-- Feeds -->
<div class="hp-feeds wrapper">
	<div class="hp-blog">
		<h3 class="h4"><a href="/blog/">Blog</a></h3>
		<section class="hp-blog-list">
			{% for blog in blogs %}
				<article class="media-block blog blog-small" id="post-{{blog.post_name}}">
					<h3 class="h3"><a href="{{blog.link}}">{{blog.title}}</a></h3>
					<p class="blog-author"><span>By</span> {{blog.author.name}}</p>
					<p class="txt txt-dark">{{blog.get_preview(25, true, 'More &raquo;')}}</p>
				</article>
			{% endfor %}
		</section>
	</div> <!-- /hp-blog -->


	<section class="hp-tweets">
		<div class="tweet-mod">
			<a class="twitter-timeline" style="min-width: 650px;" data-dnt="true" href="https://twitter.com/upstatement" data-widget-id="357596072165658624" data-chrome="noheader noborders transparent nofooter" data-tweet-limit="1">Tweets by @upstatement </a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div> <!-- /tweet-mod -->
	</section>

</div><!-- /hp-feeds -->
{% endblock %}
