<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{language_attributes}}> <!--<![endif]-->
	<head>
		<title>{{wp_title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="UTF-8" />
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{meta_desc|default('Upstatement is a small, cross-disciplinary firm that solves problems through design, code, and rapid prototyping.')}}" />
		<link rel="stylesheet" href="{{theme_dir}}/css/screen.css" />
		<link rel="stylesheet" href="{{theme_dir}}/js/libs/sh/sh-upstatement.css" />
		<script type="text/javascript" src="{{theme_dir}}/js/libs/modernizr.min.js"></script>
		<link rel="pingback" href="/xmlrpc.php" />
		{% include "components/typekit.twig" %}
		{% include "components/google-analytics.twig" %}
		{{wp_head}}
