{% extends "base.twig" %}
{% block head %}
	<meta property="og:image" content="{{post.thumbnail.src|resize(500, 500)}}" />
{% endblock %}
{% block content %}
<div class="content-wrapper">
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="portfolio-layouts {% if post.billboard %}billboard-on{% endif %}">
			{% if post.billboard %}
			<!-- Portfolio Banner -->
			<div class="portfolio-banner">
				<img class="portfolio-banner-img" src="{{TimberImage(post.billboard).src|resize(1600)}}" alt="Banner image for {{post.title}}" />
				{% if post.billboard_credit %}
				<p class="cover-credit">Photo by {{post.billboard_credit}}</p>
				{% endif %}
			</div> <!-- /portfolio-banner -->
			{% endif %}

			<!-- Portfolio Headline -->
			<div class="site-width">
				<div class="portfolio-h-outer">
					<div class="portfolio-h-inner">
						{% if post.kicker %}
						<h3 class="h4 portfolio-kicker">{{post.kicker}}</h3>
						{% endif %}
						<h1 class="h1 portfolio-h1">
							{% if post.link %}
								<a href="{{post.link}}" target="_blank">
							{% endif %}
								{{post.post_title}}
							{% if post.link %}
								</a>
							{% endif %}
						</h1>
					</div> <!-- /.portfolio-title-inner -->
				</div>
			</div> <!-- /site-width -->

			<!--<div class="portfolio-intro site-width">
				{{post.content}}
			</div>-->

			<div class="portfolio-content-before">
				{% include ["portfolio/"~post.slug~"-before.twig", "portfolio/"~post.slug~".twig"] ignore missing %}
			</div>

			<div class="portfolio-content">
				{% for layout in post.get_layouts %}
					{% if layout.images %}
						<div class="portfolio-image-set image-count-{{layout.images|length}} {{layout.size|length ? layout.size}}">
							{% for image in layout.images %}
								<img class="lazy viz-resp {{layout.visibility|join(' ')}}" data-original="{{image.get_pathinfo.filename == image.get_pathinfo.filename|upper ? image.src : image.src|tojpg}}" data-src="{{image.get_pathinfo.filename == image.get_pathinfo.filename|upper ? image.src : image.src|tojpg}}" src="/wp-content/themes/blades/images/dev/placeholder.gif" alt="{{image.alt_text|raw}}" id="portfolio-img-{{image.ID}}"/>
								<p>{{image.caption}}</p>
							{% endfor %}
						</div>
					{% elseif layout.description or layout.subhead %}
						<div class="site-width">
							<div class="portfolio-desc txt-width">
								{% if layout.subhead %}
									<h2 class="h2 portfolio-desc-h">{{layout.subhead}}</h2>
								{% endif %}
								{% if layout.description %}
									<div class="txt-lg portfolio-desc-txt">
										<p>{{layout.description|raw}}</p>
									</div>
								{% endif %}
							</div>
						</div> <!-- /site-width -->
					{% elseif layout.overline %}
						<div class="flex-width">
							<div class="portfolio-overline-mod">
								<h4 class="portfolio-overline">{{layout.overline}}</h4>
							</div><!-- /portfolio-overeline-mod -->
						</div> <!-- /flex-width -->
					{% elseif layout.gray_block %}
						{% if layout.gray_block|trim == 'open' %}
							<section class="portfolio-color-splash">
						{% else %}
							</section>
						{% endif %}
					{% endif %}
					{% if layout.acf_fc_layout == 'include' %}
						<div class="portfolio-include">
							{% include 'portfolio/' ~ layout.file_name ignore missing %}
						</div>
					{% endif %}
				{% endfor %}
			</div> <!-- /portfolio-content-->

			<div class="portfolio-content-after">
				{% include ["portfolio/"~post.slug~"-after.twig"] ignore missing %}
			</div>
		</section> <!-- /portfolio-layouts -->

		<section class="comments">
		</section>
	</article>
</div> <!-- /content-wrapper -->

<div class="wrapper">
	<section id="archive-tiles">
		{% for tile in tiles %}
			{% if tile.thumbnail.src %}
				{% include 'tile.html' %}
			{% endif %}
		{% endfor %}
	</section>
</div>
{% endblock %}