{% extends "base.twig" %}
{% block content %}
{% if post.banner_image.src %}
	<img src="{{post.banner_image.src}}" class="blog-banner-image" alt="{{post.post_title}}" />
{% endif %}
{% if post.thumb_src %}
	<meta property="og:image" content="{{post.thumbnail.src}}" />
{% endif %}
<div class="content-wrapper">
	<div class="wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{ID}}">
			<section class="article-content">
				<hgroup class="article-hgroup">
					<h1 class="article-h1">{{post.title}}</h1>
					<p class="blog-author"><span>By</span> {{ post.author.name }} <span>&bull;</span> {{ post.display_date }}</p>
				</hgroup>
				<article class="article-txt">
					{{post.content|pretags}}
				</article>
			</section>
			<div class="comments-mod">
				<section class="respond">
					<h3 class="h2 respond-h">
						Comments
					</h3>
					{{ comment_form }}
				</section>
			</div> <!-- /comments-mod -->

		</article>
	</div> <!-- /wrapper -->
</div> <!-- /content-wrapper -->

<section class="archive-blog-ftr">
	<div class="wrapper">
{{sidebar}}
	</div>
</section>


{% endblock %}