{% extends "base.twig" %}
{% block content %}
{% if post.banner_image %}
	<img src="{{post.banner_image}}" class="blog-banner-image" alt="{{post.post_title}}" />
{% endif %}
{% if post.thumb_src %}
	<meta property="og:image" content="{{post.thumbnail.src}}" />
{% endif %}
<div class="content-wrapper">
	<div class="wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{ID}}">
			<section class="article-content">
				<hgroup class="article-hgroup">
					<h1 class="article-h1">{{post.post_title}}</h1>
					<p class="blog-author"><span>By</span> {{ post.author_data.display_name }} <span>&bull;</span> {{ post.display_date }}</p>
				</hgroup>
				<article class="article-txt">
					{{post.post_content|wpautop|raw|pretags}}
				</article>
			</section>

			<div class="comments-mod">
				<section class="respond">
					<h3 class="h2 respond-h">
						{% if post.comments|length == 0 %}
							Comment
							{% elseif post.comments|length == 1 %}
								{{post.comments|length}} Comment
							{% else %}
								{{post.comments|length}} Comments
						{% endif %}
					</h3>
					{{ respond }}
				</section>

				<section class="comments">
					{% for comment in post.comments %}
						<div class="blog-comment {{comment.comment_type}}" id="blog-comment-{{comment.comment_ID}}">
							<!-- {{comment|print_r}} -->
							<p class="comment-num">{{loop.index}}</p>
							{% if comment.comment_author != "" %}
							<h5 class="comment-author">{{comment.comment_author}} says</h5>
							{% else %}
							<h5 class="comment-author">Anonymous says</h5>
							{% endif %}
							<div class="comment-content">{{comment.comment_content|wpautop}}</div>
						</div>
					{% endfor %}
				</section>
			</div> <!-- /comments-mod -->

		</article>
	</div> <!-- /wrapper -->
</div> <!-- /content-wrapper -->

<section class="archive-blog-ftr">
	<div class="wrapper">
{{sidebar}}
	</div>
</section>


{% endblock %}