{% extends 'base.twig' %}
{% set wp_title = 'Timber: WordPress + Twig - Upstatement' %}
{% block head %}
	<link rel="stylesheet" href="{{site.theme.link}}/css/custom/special-pages/timber.css">
	<link rel="stylesheet" href="{{site.theme.link}}/css/custom/labs/labs.css">

	<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">



{% endblock %}
{% block content %}


<div class="page-topper">
	<div class="page-wrapper">

		<nav class="social-media">
			<a class="qs-link" data-qs-service="twitter">Twitter</a>
		</nav>

		<a href="https://github.com/jarednova/timber" class="github-sash">
			<img src="https://github-camo.global.ssl.fastly.net/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
		</a>


		<div class="logo timber-logo fade-in">Timber for Wordpress.</div>


		<ul class="page-nav">
			<li><a href="https://github.com/jarednova/timber/wiki">Documentation</a></li>
			<li><a href="https://github.com/jarednova/timber/wiki/Video-Tutorials">Screencasts</a></li>
			<li><a class="download" href="http://wordpress.org/plugins/timber-library/">Download</a></li>
		</ul>

	</div><!-- page-wrapper -->
</div><!-- page-topper -->

	<div class="page-body">
		<div class="center-txt">
		<div class="section">
			<h2 class="h2 tagline">Presenting a faster, easier and more powerful way to build themes. Because <strong>WordPress</strong> is awesome,<br/> but the loop isn't.</h2>
		</div>

		<section class="section">
			<h3 class="section-head">Overview</h3>
			<p class="txt-large">Timber helps you create fully-customized WordPress themes faster with more sustainable code. With Timber, you write your HTML using the <a href="http://twig.sensiolabs.org/" target="_blank">Twig Template Engine</a> separate from your PHP files.</p>
			<p class="txt-large">This cleans-up your theme code so your php file can focus on supplying being the data and logic, while your twig file can focus 100% on the display and HTML.</p>
		</section>
		<section class="section">
			<h3 class="section-head">Who is this for?</h3>
			<p class="txt-large">Timber is for both WordPress pros and rookies. People new to WordPress will like how it reduces the WordPress-specific knowledge required to theme a website. While pros can take advantage of object-oriented patterns that adheare to DRY and MVC principles.</p>
		</section>

		<section class="section">
			<h3 class="section-head">What does the code look like?</h3>
			<p class="txt-large">
				With Timber you manage your theme in PHP and <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a> (HTML) files. This separates the logic (getting stuff from WordPress) from presentation (adding tags, classes, etc.) &mdash; just like Rails, Django, Node and other platforms.
			</p>

			<div class="code-example side-by-side">
				<div class="ui-block-1">
					<pre>
						<code class="php">
						$context = Timber::get_context();
						$context['foo'] = 'Bar!';
						$context['post'] = new TimberPost();
						Timber::render('single.twig', $context);
						</code>
					</pre>
					<div class="code-tag bottom">
						<span class="muted">single</span>.php
					</div>
				</div>
				<div class="ui-block-2">
					<pre>
						<code class="twig">
							{{ '{% extends "base.twig" %}
							{% block content %}
							&lt;h1 class="big-title"&gt;{{foo}}&lt;/h1&gt;
							&lt;h2&gt;{{post.title}}&lt;/h2&gt;<br/>					&lt;img src=&quot;{{post.thumbnail.src}}&quot; /&gt;<br/>					&lt;div class=&quot;body&quot;&gt;<br/>						   &nbsp;&nbsp;&nbsp;&nbsp; {{post.content}}<br/>					&lt;/div&gt;
							{% endblock %}' }}
						</code>
					</pre>
					<div class="code-tag bottom">
						<span class="muted">single</span>.twig
					</div>
				</div>
			</div>
		</section>

		<section>
			<h3 class="section-head">What does it look like?</h3>
			<p class="txt-large">Timber doesn't change the visual appearance of your theme. Installing Timber is like installing jQuery -- it just gives you new tools to build and style it as you like.</p>
		</section>


		<div class="section">
			<h3 class="section-head">Object Oriented Posts, Terms, Users and More</h3>
			<p class="txt-large">Speak to the common WordPress objects in a way that makes sense. Have you ever tried to get the thumbnail of a post? Don't lie to me, of course you have! It probably looked something like this:</p>

			<div class="code-mod">
				<div class="code-tag top">
					The old way
				</div>
				<pre><code class="php">
					$thumb_id = get_post_thumbnail_id($post->ID);
					$url = wp_get_attachment_url($thumb_id);
					&lt;img src="&lt;?php echo $url; ?&gt;" alt="Thumbnail for &lt;?php echo $post->post_title; ?&gt;" /&gt;
				</code></pre>
			</div>
			<p class="txt-large">Yuk! Maybe you can remember all those functions, but I sure can't. If you're a pro WordPress dev you probably have a mess of shortcut functions to help you with a common task. But here's the rub YOUR shortcuts are going different than everyone else's.</p>
			<div class="code-mod">
				<div class="code-tag top">
					but with Timber
				</div>
				<pre><code class="twig">
					{# single.twig #}
					&lt;img src="{{post.thumbnail.src}}" alt="Thumbnail for {{post.title}}" /&gt;
				</code></pre>
			</div>
		</div><!-- section -->

		<div class="section">
			<h3 class="section-head">Express/Node-style Routing</h3>
			<p class="txt-large">When I first used routes in Node.js I fell in love. But when I tried to do the same, WordPress broke my heart.</p>
		</div><!-- section -->

		<div class="section">
			<h3 class="section-head">It's a library, not a Framework</h3>
			<p class="txt-large">The tools I've come to rely on are the tools that evolve into your workflow. I didn't know I wanted to use jQuery or SASS until I started using them. Bit-by-bit they replaced the 'old' ways of doing things until I couldn't imagine life without them. Timber lets you start with just a bit. Say you want to just include an HTML snippet with a variable from your database:</p>
		</div><!-- section -->

		<section class="section">
			<h3 class="section-head">Showcase</h3>
			<div class="showcase-mod">
				{% for showcase_item in post.get_field('showcase') %}
				<article class="showcase-item media-block">
					<a class="showcase-img-mod" href="{{showcase_item.url}}" target="_blank">
						<img src="{{TimberImage(showcase_item.image).src|resize(600, 420)}}" alt="{{showcase_item.title|striptags}}" />
					</a>
					<h5 class="head-label"><a href="{{showcase_item.url}}" target="_blank">{{showcase_item.title}}</a></h5>
				</article>
				{% endfor %}
			</div>
		</section>



		</div><!-- center-txt -->

	</div>

{% endblock %}
{% block scripts %}
	<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<script src="{{site.theme.link}}/components/QuickShare/dist/quickshare.js"></script>
{% endblock %}
