<section class="bcom-feat-mod">

	<div class="swiper-img-mod">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<article class="bcom-feat-img-mod">
					<video class="bcom-feat-img" preload="auto" autoplay="autoplay" loop poster="/{{theme_dir}}images/portfolio/bcom/bcom-feat-hp.jpg">
						<source src="/{{theme_dir}}/images/portfolio/bcom/video/bcom-stream.mp4" type="video/mp4" />
						<source src="/{{theme_dir}}/images/portfolio/bcom/video/bcom-stream.ogv" type="video/ogg" />
					</video>
				</article> {# /bcom-feat-img-mod #}
			</div> {# /swiper-slide #}


			<div class="swiper-slide">
				<article class="bcom-feat-img-mod">
					<video class="bcom-feat-img" preload="auto" loop poster="/{{theme_dir}}images/portfolio/bcom/bcom-feat-gallery.jpg">
						<source src="/{{theme_dir}}/images/portfolio/bcom/video/bcom-gallery.mp4" type="video/mp4" />
						<source src="/{{theme_dir}}/images/portfolio/bcom/video/bcom-gallery.ogv" type="video/ogg" />
					</video>
				</article> {# /bcom-feat-img-mod #}
			</div> {# /swiper-slide #}

			<div class="swiper-slide">
				<article class="bcom-feat-img-mod">
					<video class="bcom-feat-img" preload="auto" loop poster="/{{theme_dir}}images/portfolio/bcom/bcom-feat-nav.jpg">
						<source src="/{{theme_dir}}/images/portfolio/bcom/video/bcom-nav.mp4" type="video/mp4" />
						<source src="/{{theme_dir}}/images/portfolio/bcom/video/bcom-nav.ogv" type="video/ogg" />
					</video>
				</article> {# /bcom-feat-img-mod #}
			</div> {# /swiper-slide #}

		</div> {# /swiper-wrapper #}
	</div> {# /swiper-mod #}


	<div class="bcom-feat-caption">
		<div class="bcom-feat-caption-inner">
			<div class="bcom-feat-btns">
				<button class="bcom-feat-prev bcom-feat-btn"><span class="bcom-feat-btn-arrow prev">&lsaquo;</span></button>
				<button class="bcom-feat-next bcom-feat-btn"><span class="bcom-feat-btn-arrow next">&rsaquo;</span></button>
			</div> {# /bcom-feat-btns #}

			<div class="swiper-caption-mod">
				<div class="swiper-wrapper">
					<article class="swiper-slide">
						<h2 class="bcom-feat-h">Snappy Stories</h2>
						<p class="txt-lg bcom-feat-txt">We optimized every interaction in the news stream to deliver the story as fast as possible. New stories appear as they happen. Videos play right in place. Images pop-up without a page&nbsp;load.</p>
					</article> {# /swiper-slide #}
					<article class="swiper-slide">
						<h2 class="bcom-feat-h">Smart Galleries</h2>
						<p class="txt-lg bcom-feat-txt">We prioritized flexibility &amp; speed in a series of templates that look amazing whether the gallery is telling a story with text and <a href="upstatement-bcom.s3-website-us-east-1.amazonaws.com/gallery.html#patriots-free-agent" target="_blank">small photos</a>, letting <a href="upstatement-bcom.s3-website-us-east-1.amazonaws.com/gallery.html#big-picture" target="_blank">gorgeous photography</a> speak for itself, or doing <a href="upstatement-bcom.s3-website-us-east-1.amazonaws.com/gallery.html#first-lady-style" target="_blank">both&nbsp;at&nbsp;once</a>.</p>
					</article> {# /swiper-slide #}
					<article class="swiper-slide">
						<h2 class="bcom-feat-h">Simple Navigation</h2>
						<p class="txt-lg bcom-feat-txt">Always at your fingertips, the persistent Table of Contents links to all major sections plus the site's most popular destinations. Meanwhile, the filter nav offers instant access to top stories across a range of&nbsp;topics.</p>
					</article> {# /swiper-slide #}
				</div> {# /swiper-wrapper #}
			</div> {# /swiper-caption-mod #}
		</div> {# /bcom-feat-caption-inner #}
	</div> {# /bcom-feat-caption #}

</section> {# /bcom-feat-mod #}
